*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

video {
  width: 100%;
  height: 100%;
  object-position: center;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.z {
  align-self: flex-start;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 399px;
  height: 534px;
}

.content__list {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

.content__list-item:focus-visible {
  outline: 1px solid #f00;
}

.preloader-template {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content__video-card-thumbnail {
  height: 103px;
}

.content__video-card-description:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__video-card-description-container {
  width: 100%;
  width: fit-content;
  height: 100%;
}

.content__video-card:active {
  background-color: #545050;
}

.button:active {
  background-color: #545050;
}

.search-form__textfield {
  min-width: 225px;
  min-height: 27px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background: transparent;
  appearance: none;
}

.search-form__label:focus {
  outline: 1px solid #fff;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}
.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox:active {
  width: 19px;
  height: 19px;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  content: "";
  border: 1px solid black;
  background-color: white;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.visually-hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 194px;
  min-height: 34px;
  cursor: pointer;
}

.search-form__label {
  display: flex;
  align-items: center;
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  background-color: inherit;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 34px;
  color: #fff;
  cursor: pointer;
}

.more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* тут можно сделать через object-fit, тогда кнопка примет 100% ширины контейнера */
  height: 34px; /* а хайт можно и оставить*/
  color: #fff;
  cursor: pointer;
}

.more-button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.title {
  color: #fff;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__video-card-title:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.content__video-card-title {
  padding-bottom: 6px;
  color: #fff;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}
